@import "vars"

.RecipeDashboard
  margin: 3em auto
  max-width: 60em

.Recipe
  text-align: left

.RecipeHeader
  border-top-left-radius: $border-radius
  border-top-right-radius: $border-radius
  color: $text-light
  font-size: 1.25em
  padding: 0.75em 1em

.RecipeHeader-closed, .RecipeBody
  border-bottom-left-radius: $border-radius
  border-bottom-right-radius: $border-radius
  margin-bottom: $division-size

.RecipeHeader.RecipeHeaderEdit
  background-color: darken($brand-primary, 20%)

.RecipeHeader.RHToggle
  background-color: $brand-primary
  transition: background-color 0.5s ease
  &:hover
    background-color: $brand-accent
    cursor: pointer

.RecipeBody
  background-color: $bg-light
  border: 1px solid $text-secondary
  border-top: none
  padding: 0.75em 1em
  .description
    color: $text-secondary
  hr
    margin: 0.25em 0 0.75em 0
  button
    margin-right: 0.5em

.IngredientList
  padding-left: 0.5em
  li
    list-style: none
  label
    padding-left: 0.5em
    font-weight: normal

.RecipeField
  margin-bottom: 1em
  label
    display: block
    font-size: 0.75em
    margin-bottom: 0.1em
  input, textarea
    width: 100%

input[type=checkbox]:checked + label.strikethrough
  color: $text-secondary
  text-decoration: line-through
